<form method="post">
    <div class="row justify-content-center align-items-center">
        <div class="col-6 text-center">
            <div>
                <h3>Вход</h3>
            </div>
            <div >
                <input class="form-control" type="text" placeholder="Логин" name="username" />
            </div>
            <br />
            <div>
                <input class ="form-control" type="password" placeholder="Пароль" name="password" />
            </div>
            <br />
            <div>
                <input type="checkbox" name="remember" value="true" style="margin-right: 8px;" />Запомнить меня?
            </div>
            <br />
            <button class="btn btn-success w-75" type="submit" asp-controller="Account" asp-action="Login">Войти</button>
            <br />
            <a asp-controller="Account" asp-action="Register">Регистрация новго пользователя</a>
        </div>
    </div>
</form> 