 <form method="post">
    <div class="row text-center">
        <div class="col">
            <div>
                <input type="text" placeholder="ФИО" name="name"/>
            </div>
            <br />
            <div>
                <input type="text" placeholder="Адресс" name="adress"/>
            </div>
            <br />
            <div>
                <input type="text" placeholder="Телефон" name="phone"/>
            </div>
            <br />
            <button class="btn btn-success" type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
        </div>
    </div>
 </form>   
