<div class="row text-center">
    <div class="col">
        <div>
            <input type="text" placeholder="ФИО" />
        </div>
        <br />
        <div>
            <input type="text" placeholder="Адресс" />
        </div>
        <br />
        <div>
            <input type="text" placeholder="Телефон" />
        </div>
        <br />
        <a class="btn btn-success" href="/order/buy" role="button">Оформить заказ</a>
    </div>
</div>