@model ChangePassword

<form method="post">
    <div class="row justify-content-center align-items-center">
        <div class="col-6 text-center">
            <div>
                <h3>Смена пароля</h3>
            </div>

            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

            <input type="hidden" name="userName" value="@Model.UserName" />

            <div>
                <label asp-for="Password">Новый пароль</label><br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <br />

            <div>
                <label asp-for="ConfirmPassword">Подтвердить новый пароль</label><br />
                <input class="form-control" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" />
            </div>
            <br />

            <button class="btn btn-success w-75" type="submit" 
                    asp-area="Admin"
                    asp-controller="User"
                    asp-action="ChangePassword">Сменить</button>
        </div>
    </div>
</form> 