@model UserDeliveryInfoViewModel

 <form method="post">
    <div class="row text-center">
        <div class="col">

            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

            <div>
                <input class="form-control" asp-for="Name" placeholder="ФИО" />
                <span asp-validation-for="Name" />
            </div>
            <br />

            <div>
                <input class="form-control" asp-for="Adress" placeholder="Адресс" />
                <span asp-validation-for="Adress" />
            </div>
            <br />

            <div>
                <input class="form-control" asp-for="Phone" placeholder="Телефон" />
                <span asp-validation-for="Phone" />
            </div>
            <br />

            <button class="btn btn-success" type="submit" asp-area="" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
        </div>
    </div>
 </form>   
